@import "src/styles/variables";

.charts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 10%;
  padding-left: 2%;

  .chart {
    display: flex;
    flex-direction: column;
    align-items: center;

    .chart-title {
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 10px;
    }
  }

  .legend {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 34px;
    width: 20%;

    .legend-item {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 5px;

      .legend-color {
        width: 14px;
        height: 14px;
        border-radius: 50%;
        position: absolute;
      }

      .legend-name {
        margin-left: 20px;
        color: $text-dark;
        font-size: 12px;
        line-height: 14px;
      }
    }
  }
}

.dark-theme {
  .charts {
    .legend {
      .legend-item {
        .legend-name {
          color: $text-light;
        }
      }
    }
  }
}