@import "src/styles/variables";

$section-dark: #131617;
$section-border-dark: #535657;
$section-light: #fcfcfc;
$section-border-light: #e0e0e0;

.profile-section {
  display: flex;
  background: $section-light;
  border: 1px solid $section-border-light;
  border-radius: 10px;
  padding: 1rem;
  margin-top: 1.5rem;
  cursor: default;

  &:first-child {
    margin-top: 0;
  }

  &.col {
    flex-direction: row;
    justify-content: start;
    align-items: center;

    .item {
      min-width: 20%;
      display: flex;
      flex-direction: row;
      align-items: center;

      .value {
        margin-top: 5px;
      }

      .label .icon {
        margin-right: 5px;
      }

      > div {
        display: flex;
        flex-direction: column;
      }

      &:not(:first-child)::before {
        content: "";
        position: relative;
        display: block;
        right: 16%;
        height: 44px;
        width: 0;
        background: $section-border-light;
        border: 1.5px solid $section-border-light;
        border-radius: 2px;
      }
    }
  }

  &.row {
    flex-direction: column;
    justify-content: start;
    padding: 0 1rem;

    .item {
      > div {
        display: flex;
        flex-direction: row;
        padding: 16px 0;
      }

      .value {
        margin-left: 25%;
        position: absolute;
      }

      &:not(:last-child)::after {
        content: "";
        position: relative;
        display: block;
        height: 0;
        width: 100%;
        background: $section-border-light;
        border: 1px solid $section-border-light;
        border-radius: 2px;
      }
    }
  }
}

.title {
  font-size: calc(0.75rem + 0.5vw);
  font-weight: 600;
}

.value {
  font-size: 1rem;
  font-weight: 400;
  color: $text-dark;
  opacity: 75%;
}
.basic {
  display: flex;
  flex-direction: row;

  .info {
    display: flex;
    flex-direction: column;
    margin: 1.25rem 0 0 1.5rem;

    .name {
      font-size: 1.25rem;
      font-weight: 600;
    }

    .email {
      font-size: 0.875rem;
      font-weight: 400;
      color: $text-dark;
      opacity: 25%;
      transition: opacity 0.2s ease-in-out;

      &:hover {
        opacity: 75%;
      }
    }
  }
}
.cover {
  width: 100%;
  position: relative;

  img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px 10px 0 0;
  }

  .skeleton {
    width: 100% !important;
    height: 180px !important;
    border-radius: 10px 10px 0 0;
  }

  button {
    position: absolute !important;
    bottom: 20px;
    right: 20px;
    padding: 2px 8px;
    background: $white25;
    border: 1px solid white;
    border-radius: 10px;
    color: $text-light;
    width: fit-content;
    height: fit-content;
    font-size: 0.75rem;
    font-weight: 400;
    opacity: 50%;

    &:hover, &:disabled {
      opacity: 100%;
    }
  }
}
.profile-avatar {
  margin: -76px 0 1rem 1.5rem;
  object-fit: cover;
  z-index: 1;
}

.dark-theme {
  .profile-section {
    background: $section-dark;
    border: 1px solid $section-border-dark;

    &.col {
      .item {
        &:not(:first-child)::before {
          background: $section-border-dark;
          border: 1.5px solid $section-border-dark;
        }
      }
    }

    &.row {
      .item {
        &:not(:last-child)::after {
          background: $section-border-dark;
          border: 1px solid $section-border-dark;
        }
      }
    }
  }

  .value {
      color: $text-light;
  }

  .basic {
    .info {
      .email {
        color: $text-light;
      }
    }
  }

  .cover {
    button {
      background: $black25;
      border: 1px solid $black;
      color: $text-light;
    }
  }
}