$blue-light: #646cff;
$blue-dark: #535bf2;
$blue-darker: #161724;
$bg-root-light: #fff;
$bg-substrate-light: #eeeeee;
$bg-root-dark: #111315;
$bg-substrate-dark: #1a1d1f;

$green-light: #52c41a;
$yellow-light: #faad14;
$red-light: #f5222d;
$white: #fff;
$white10: rgba(255, 255, 255, 0.1);
$white25: rgba(255, 255, 255, 0.25);
$white50: rgba(255, 255, 255, 0.50);
$white75: rgba(255, 255, 255, 0.75);
$black: #000;
$black10: rgba(0, 0, 0, 0.1);
$black25: rgba(0, 0, 0, 0.25);
$black50: rgba(0, 0, 0, 0.50);
$black75: rgba(0, 0, 0, 0.75);

$text-light: $white;
$text-dark: $black75;

$header-height: 60px;
$header-icon-size: 36px;