@import "variables";

$component-background: $bg-substrate-dark;
$popover-color: $white10;
$layout-header-background: $bg-substrate-dark;

.ant-menu {
  li:not(.ant-menu-item-selected) {
    opacity: 25%;
    transition: all 0.3s ease-out !important;

    &:hover {
      opacity: 100%;
    }
  }
}
