@import "variables";

@font-face {
  font-family: "Rubik";
  font-weight: 100;
  src: url("src/assets/fonts/Rubik/Rubik-Light.ttf");
}
@font-face {
  font-family: "Rubik";
  font-weight: 400;
  src: url("src/assets/fonts/Rubik/Rubik-Regular.ttf");
}
@font-face {
  font-family: "Rubik";
  font-weight: 600;
  src: url("src/assets/fonts/Rubik/Rubik-Medium.ttf");
}
@font-face {
  font-family: "Rubik";
  font-weight: 700;
  src: url("src/assets/fonts/Rubik/Rubik-Bold.ttf");
}
@font-face {
  font-family: "Rubik";
  font-weight: 900;
  src: url("src/assets/fonts/Rubik/Rubik-Black.ttf");
}
@font-face {
  font-family: "Rubik";
  font-weight: 100;
  font-style: italic;
  src: url("src/assets/fonts/Rubik/Rubik-LightItalic.ttf");
}
@font-face {
  font-family: "Rubik";
  font-weight: 400;
  font-style: italic;
  src: url("src/assets/fonts/Rubik/Rubik-Italic.ttf");
}
@font-face {
  font-family: "Rubik";
  font-weight: 600;
  font-style: italic;
  src: url("src/assets/fonts/Rubik/Rubik-MediumItalic.ttf");
}
@font-face {
  font-family: "Rubik";
  font-weight: 700;
  font-style: italic;
  src: url("src/assets/fonts/Rubik/Rubik-BoldItalic.ttf");
}
@font-face {
  font-family: "Rubik";
  font-weight: 900;
  font-style: italic;
  src: url("src/assets/fonts/Rubik/Rubik-BlackItalic.ttf");
}

:root {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  height: auto !important;
  font-family: Rubik, Inter, Avenir, Helvetica, Arial, sans-serif !important;

  &::-webkit-scrollbar {
    width: 13px;
  }
  &::-webkit-scrollbar-track {
    background: $white;
  }
  &::-webkit-scrollbar-thumb {
    background: $black25;
    border: 3px $white solid;
    border-radius: 99px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: $black10;
  }

  &.dark-theme {
    &::-webkit-scrollbar-track {
      background: $black;
    }
    &::-webkit-scrollbar-thumb {
      background: $white25;
      border: 3px $black solid;
    }
    &::-webkit-scrollbar-thumb:hover {
      background: $white10;
    }
  }
}

a {
  font-weight: 500;
  color: $blue-light;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
    color: $blue-dark;
  }
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: $blue-light;
  cursor: pointer;
  transition: border-color 0.25s;
  width: 100%;
  margin-top: 1rem;

  &:hover {
    border-color: $blue-dark;
  }

  &:focus, &:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }

}

.pd-0 {
  padding: 0 !important;
}
