@import "src/styles/variables";

.container {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  background: $bg-root-light;
  color: $text-dark;
  margin-left: 250px;
  margin-top: $header-height;
  min-height: calc(100vh - $header-height) !important;

  h2 {
    color: $text-dark;
  }

  @media (max-width: 991px) {
    margin-left: 0;
  }
}

table {
  cursor: default;

  tr {
    &:last-child {
      td {
        border-bottom: none;
      }
    }
  }
}

.substrate {
  padding: 1rem;
  border-radius: 10px;
  margin-top: 1.5rem;
  background: $bg-substrate-light;

  &:first-child {
    margin-top: 0;
  }


  .empty-table {
    margin-top: 24px;

    .icon-big {
      font-size: 3rem;
    }

    p {
      font-size: 16px;
      font-weight: 500;
      margin-top: 10px;
    }
  }

  .table-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 5px;
  }
}

.subject-table {
  .row-data {
    display: flex;
    flex-direction: column;
  }
  .subject-name {
    font-size: 16px;
    font-weight: 500;

    + div {
      color: $black50;
      font-size: 12px;

      .professor {
        margin-right: 8px;
      }

      .cathedra {
        background: $black10;
        border-radius: 5px;
        padding: 0 5px;
        letter-spacing: 0.75px;
      }
    }
  }

  .e-c {
    line-height: 1.2;
    font-size: 13px;
  }
}

.dark-theme {
  .container {
    background: $bg-root-dark;
    color: $text-light;
  }

  .substrate {
      background: $bg-substrate-dark;
  }

  .subject-table {
    .subject-name {
      + div {
        color: $white50;

        .cathedra {
          background: $white10;
        }
      }
    }
  }
}