@import 'src/styles/variables';

header {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;
  width: 100%;
  z-index: 99;
  top: 0;
  background: $bg-substrate-light;
  height: $header-height;
  border-bottom: 1px solid $black10;
  user-select: none;

  > div {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .logo {
    height: 40px;
  }

  .search {
    margin-left: 250px;
    position: absolute;
    width: 260px !important;

    input {
      height: 32px;
      background-color: $bg-root-light;
      border: none;
      caret-color: $black50;
      font-weight: 100;

      + span {
        left: 0 !important;
        background: transparent;
      }

      &:focus {
        box-shadow: none;
      }
    }

    button {
      background-color: $bg-root-light;
      border: none;
      height: 32px;
    }
  }

  .notification {
    margin-right: 20px;
    height: $header-icon-size !important;
    width: $header-icon-size !important;

    span {
      font-size: 20px;
      color: $black50 !important;
    }
  }

  sup {
    right: 20px !important;
  }

  button.avatar {
    width: 0;
    height: 0;
    padding: 0 36px 36px 0;
    background: none;
    border: none;

    &:focus {
      outline: none;
    }
  }
}
.notifications li {
  padding: 8px 0 !important;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: start;

  &.unread {
    opacity: 100%;
  }

  .status {
    margin-right: 6px;
  }

  .date-time {
    font-size: 10px;
    color: $black50;
  }

  &:first-child {
    padding-top: 0 !important;
  }

  &:last-child {
      padding-bottom: 0 !important;
  }
}

.dark-theme {
  header {
    background: $bg-substrate-dark;
    border-bottom: 1px solid $white10;

    .search {
      input {
        background-color: $bg-root-dark;
        caret-color: $white50;
      }

      button {
        background-color: $bg-root-dark;
        color: $white50 !important;
      }
    }

    .notification {
      span {
        color: $white50 !important;
      }
    }
  }

  .notifications li {
    .date-time {
      color: $white50 !important;
    }
  }
}