@import 'src/styles/variables';

.sidebar {
  position: fixed !important;
  padding-top: $header-height;
  height: 100vh;
  z-index: 2;
  user-select: none;
}
.sidebar li {
  padding-left: 32px !important;
}
.icon {
  font-size: 18px !important;
}
.ant-menu-item-disabled {
  cursor: default !important;

  &:focus {
    background-color: transparent !important;
  }
}