@import "src/styles/variables";

.debts {
  border: 2px solid $yellow-light;

  .table-title {
    justify-content: start;
  }

  .icon {
    color: $yellow-light;
    margin-right: 10px;
  }
}

.dark-theme {

}